body {
  background-color: black;
}
.field {
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: solid green 10px;
  border-bottom: solid green 10px;
  opacity: 0.8;
}
.ball {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: green;
}
.player {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: green;
}
.message {
  position: absolute;
  color: lawngreen;
  opacity: 0.7;
  font-weight: 100; 
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
  /* border: solid green 1px; */
  /* background-color: black; */
  padding: 5px;
  /* border-radius: 10px; */
  text-align: center;
  background: transparent;
}

.message span {
  display: inline-block;
  width: 40%;
  text-align: center;
  background: transparent;
  font-size: 30px;
}
